<div class="header-top100">
  <h1 class="heading-top-100">LES 100 livres préférés&nbsp;des<br> Français analysés</h1>
</div>
<div class="top100-r w-row">
  <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
    <div class="image-b top100"><img class="image" src="images/10.png" width="256">
      <div class="lexical-results-b">
        <div class="w-row">
          <div class="w-col w-col-5 w-col-small-6 w-col-tiny-6">
            <div class="score-b">
              <div>
                <div class="text-block top100">32</div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-7 w-col-small-6 w-col-tiny-6">
            <div class="different-words-book">18 859
              <br><span class="text-span"><span xmlns="http://www.w3.org/1999/xhtml" class="different-s">mots différents</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
    <div class="image-b top100"><img class="image" src="images/10.png" width="256">
      <div class="lexical-results-b">
        <div class="w-row">
          <div class="w-col w-col-5 w-col-small-6 w-col-tiny-6">
            <div class="score-b">
              <div>
                <div class="text-block top100">32</div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-7 w-col-small-6 w-col-tiny-6">
            <div class="different-words-book">18 859
              <br><span class="text-span"><span xmlns="http://www.w3.org/1999/xhtml" class="different-s">mots différents</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
    <div class="image-b top100"><img class="image" src="images/10.png" width="256">
      <div class="lexical-results-b">
        <div class="w-row">
          <div class="w-col w-col-5 w-col-small-6 w-col-tiny-6">
            <div class="score-b">
              <div>
                <div class="text-block top100">32</div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-7 w-col-small-6 w-col-tiny-6">
            <div class="different-words-book">18 859
              <br><span class="text-span"><span xmlns="http://www.w3.org/1999/xhtml" class="different-s">mots différents</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
    <div class="image-b top100"><img class="image" src="images/10.png" width="256">
      <div class="lexical-results-b">
        <div class="w-row">
          <div class="w-col w-col-5 w-col-small-6 w-col-tiny-6">
            <div class="score-b">
              <div>
                <div class="text-block top100">32</div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-7 w-col-small-6 w-col-tiny-6">
            <div class="different-words-book">18 859
              <br><span class="text-span"><span xmlns="http://www.w3.org/1999/xhtml" class="different-s">mots différents</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="question">
  <div class="w-container">
    <h2 class="title-s">Et vous ? Quel est votre score ?</h2>
    <h3 class="subheading-s">Lancez l'analyse ! Ce processus est sécurisé et aucun<br> document n'est conservé après analyse.</h3><a class="button w-button" href="#">Analysez<br> votre texte<br>.pdf .docx<br> .txt</a>
  </div>
</div>
<div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
  <div class="brand"><a class="brand-l" href="#">EDI<span class="brand-s">score</span></a>
  </div>
  <nav class="nav-menu w-nav-menu" role="navigation"><a class="nav-link w-nav-link" href="top-100.html" target="_blank">Top 100</a>
  </nav>
  <div class="menu-button w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
</div>